<div class="header">
  <div class="">
    <a href="about">ABOUT</a>
  </div>
  <div class="title-container">
    <a href="/">
      <h1>LISA STEPHEN</h1>
      <h2>photography</h2>
    </a>
  </div>
  <div class="dropdown">
    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      GALLERIES
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Gallery 1</a></li>
      <li><a href="#">Gallery 2</a></li>
      <li><a href="#">Gallery 3</a></li>
    </ul>
  </div>
</div>