<!doctype html>
<html>
<head>
  <title>Lisa Stephen Photography</title>
  <link rel="icon" type="image/png" href=""/>
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="css/lightGallery.css" /> 
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body class="about">
  <div class="header-container">
    <%- include('partials/navbar') %>
  </div>
  <div class="wrapper">
    <div class="image-container col-md-5">
      <img src=""></img>
    </div>
    <div class="description-container col-md-7">
      <h1>About Lisa</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt metus tortor, id efficitur neque rhoncus lobortis. Sed ut erat vulputate, aliquam lorem eu, luctus dui. Donec ante nunc, rutrum sed efficitur at, suscipit ac est. Cras cursus malesuada enim, ut pharetra orci interdum ac. Etiam ultricies rhoncus dapibus. Donec dignissim eu lacus eu cursus. Donec id nibh non nibh commodo ullamcorper et id libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc egestas cursus pulvinar. Etiam posuere, quam non feugiat viverra, erat elit suscipit enim, vel placerat ex tortor et sapien. Ut faucibus, risus in facilisis bibendum, eros ipsum fermentum neque, at congue erat massa vel augue. Suspendisse felis est, imperdiet imperdiet iaculis vitae, dictum in risus. In fringilla eu nibh ac porta.</p>

      <p>Nulla ut augue mauris. Morbi eget ullamcorper felis, vel varius velit. Nunc posuere dolor mi, a commodo risus venenatis a. Nunc mauris est, cursus at rutrum eu, vulputate ac mauris. Sed ultrices risus non lacus vehicula varius id vel mi. Donec molestie sapien nec imperdiet eleifend. Ut nulla ipsum, congue nec dui eget, mattis varius nunc. Vestibulum facilisis eros in nunc commodo posuere. Nunc at odio non turpis accumsan sagittis ut quis erat. Phasellus sed commodo enim, id bibendum turpis. Nulla felis nibh, ullamcorper at euismod eu, tempor nec augue.</p>
    </div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

  <script src="js/lightgallery.min.js"></script>

  <!-- lightgallery plugins -->
  <script src="js/lg-thumbnail.min.js"></script>
  <script src="js/lg-fullscreen.min.js"></script>
  </script>
</body>
</html>
