<!doctype html>
<html>
<head>
  <title>Lisa Stephen Photography</title>
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="css/lightgallery.css" /> 
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body class="home">
  <div class="wrapper">
    <div class="header-container">
      <%- include('partials/navbar') %>
    </div>
    <div class="image-container">
      <div class="image">
        <a href="#" id="launch">
          <img src="/img/gallery/Wold Family-41.jpg"></img>
        </a>
      </div>
      <div class="image">
        <a href="#">
          <img src="/img/gallery/Wold Family-48.jpg"></img>
        </a>
      </div>
      <div class="image">
        <a href="#">
          <img src="/img/gallery/Wold Family-31.jpg"></img>
        </a>
      </div>
    </div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

  <script src="js/lightgallery.min.js"></script>

  <!-- lightgallery plugins -->
  <script src="js/lg-thumbnail.min.js"></script>
  <script src="js/lg-fullscreen.min.js"></script>
  <script>
    $('.image, #gallery').on('click', function() {
   
      var arr = [{
              "src": '/img/gallery/Wold Family.jpg',
              'thumb': '/img/thumbnails/Wold Family-10.jpg',
              'subHtml': ''
          }];

      for (var x = 2; x <= 48; x++) {
        arr.push({
            "src": '/img/gallery/Wold Family-'+x+'.jpg',
            'thumb': '/img/thumbnails/Wold Family-'+x+'.jpg',
            'subHtml': ''
        })
      }
      $(this).lightGallery({
          dynamic: true,
          download: false,
          dynamicEl: arr
      })
   
    });
  </script>
</body>
</html>
