<!doctype html>
<html>
<head>
  <title>Lisa Stephen Photography</title>
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="css/lightgallery.css" /> 
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body class="home">
  <div class="wrapper">
    <div class="header-container">
      <%- include('partials/navbar') %>
    </div>
    <div class="image-container">
      <div class="image">
        <a href="#" id="launch">
          <img src="/img/gallery/Wold Family-10.jpg"></img>
        </a>
      </div>
      <div class="image">
        <a href="#">
          <img src="/img/gallery/Wold Family-12.jpg"></img>
        </a>
      </div>
      <div class="image">
        <a href="#">
          <img src="/img/gallery/Wold Family-13.jpg"></img>
        </a>
      </div>
    </div>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

  <script src="js/lightgallery.min.js"></script>

  <!-- lightgallery plugins -->
  <script src="js/lg-thumbnail.min.js"></script>
  <script src="js/lg-fullscreen.min.js"></script>
  <script>
    $('.image, .dropdown-menu a').on('click', function() {
   
      $(this).lightGallery({
          dynamic: true,
          download: false,
          dynamicEl: [{
              "src": '/img/gallery/Wold Family-10.jpg',
              'thumb': '/img/thumbnails/Wold Family-10.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-12.jpg',
              'thumb': '/img/thumbnails/Wold Family-12.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-13.jpg',
              'thumb': '/img/thumbnails/Wold Family-13.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-17.jpg',
              'thumb': '/img/thumbnails/Wold Family-17.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-19.jpg',
              'thumb': '/img/thumbnails/Wold Family-19.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-2.jpg',
              'thumb': '/img/thumbnails/Wold Family-2.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-24.jpg',
              'thumb': '/img/thumbnails/Wold Family-24.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-25.jpg',
              'thumb': '/img/thumbnails/Wold Family-25.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-28.jpg',
              'thumb': '/img/thumbnails/Wold Family-28.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-29.jpg',
              'thumb': '/img/thumbnails/Wold Family-29.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-3.jpg',
              'thumb': '/img/thumbnails/Wold Family-3.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-30.jpg',
              'thumb': '/img/thumbnails/Wold Family-30.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-31.jpg',
              'thumb': '/img/thumbnails/Wold Family-31.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-35.jpg',
              'thumb': '/img/thumbnails/Wold Family-35.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-4.jpg',
              'thumb': '/img/thumbnails/Wold Family-4.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-43.jpg',
              'thumb': '/img/thumbnails/Wold Family-43.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-45.jpg',
              'thumb': '/img/thumbnails/Wold Family-45.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-46.jpg',
              'thumb': '/img/thumbnails/Wold Family-46.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-6.jpg',
              'thumb': '/img/thumbnails/Wold Family-6.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-7.jpg',
              'thumb': '/img/thumbnails/Wold Family-7.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-8.jpg',
              'thumb': '/img/thumbnails/Wold Family-8.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family-9.jpg',
              'thumb': '/img/thumbnails/Wold Family-9.jpg',
              'subHtml': ''
          },{
              "src": '/img/gallery/Wold Family.jpg',
              'thumb': '/img/thumbnails/Wold Family.jpg',
              'subHtml': ''
          }]
      })
   
    });
  </script>
</body>
</html>
